<?xml version="1.0"?>
<!--
/**
 * Yireo GraphQlRateLimiting for Magento
 *
 * @author      Yireo (https://www.yireo.com/)
 * @copyright   Copyright 2020 Yireo (https://www.yireo.com/)
 * @license     Open Source License (OSL v3)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <graphql_rate_limiting>
            <settings>
                <enabled>1</enabled>
                <limit_mutations>1</limit_mutations>
                <limit_queries>0</limit_queries>
                <max_mutations>10</max_mutations>
                <max_queries>100</max_queries>
                <timeframe>10</timeframe>
                <cache_ttl>600</cache_ttl>
            </settings>
        </graphql_rate_limiting>
    </default>
</config>
